// process-pay
.task-process {
    padding: 30px 0px;
    .container {
        max-width: 1000px;;
        @media(min-width: 1200px) {
            // width: 80%;
            padding: auto 0px;
        }
    }
    .tabbable {
        @media(max-width: 992px) {
            display: none;
        }
        ul {
            @media(max-width: 992px) {
                padding: 0px;
            }
            list-style-type: none;
            padding:0px;
            margin:0px;
            padding: 15px 0px;
            position: relative;
            li {
                @media(max-width: 992px) {
                    display: none;
                }
                float: left;
                width: 25%;
                text-align: center;
                img {
                    @media(max-width: 600px) {
                        max-height: 50px;
                    }
                    max-height: 70px;
                    margin: 0 auto;
                }
            }
            &:after {
                display: table;
                content: '';
                clear: both;
            }
        }
    }
    .tabbable_1 {
        width: calc(100% - 50px);
        ul {
            list-style-type: none;
            padding: 0px;
            position: relative;
            li {
                @media(max-width: 992px) {
                    margin-top: 15px;
                    display: block;
                    width: 100%;
                    text-align: left;
                }
                background: #fff;
                -webkit-box-align: center;
                -ms-flex-align: center;
                align-items: center;
                position: relative;
                /* overflow: hidden; */
                background: #4aace8;
                float: left;
                width: 25%;
                a {
                    @media (max-width: 992px) {
                        font-size: 13px;
                        float: right;
                        text-align: left;
                        padding-left: 5%;
                    }
                    @media (max-width: 992px) {
                        padding-left: 3%;
                        display: contents;
                    }
                    color: #fff;
                    font-weight: 700;
                    display: block;
                    text-align:center;
                    width: 100%;
                    height: 66px;
                    font-size: 15px;
                    position: relative;
                    z-index: 3;
                    line-height: 66px;
                    transition: 0.5s;
                }
                img{
                    display: none;
                    @media(max-width: 992px) {
                        display: block;
                        height: 66px;
                        float: left;
                        width: 90px;
                        background: #fff;
                        padding-right: 20px;
                        margin-right: 20px;
                    }
                }
                &:after {
                    content: '';
                    position: absolute;
                    right: -46px;
                    height: 100%;
                    top: 0;
                    background: url('../images/nhap-thong-tin/background_v.png') no-repeat;
                    background-size: contain;
                    width: 50px;
                    z-index: 1;
                }
                &:last-child {
                    &:before {
                        content: '';
                        width: 0;
                        height: 0;
                        right: -47px;
                        border-top: 50px solid #fff;
                        border-left: 50px solid #ffffff;
                        border-bottom: 50px solid #fff;
                        z-index: 1;
                        top: -9px;
                        position: absolute;
                    }
                }
                &:hover,
                &.active {
                    background: #4285ea;
                    &:after {
                        background: url('../images/nhap-thong-tin/background_active.png') no-repeat;
                        background-size: 37px;
                    }
                }
            }
        }
    }
}

// tao-tai-khoan.html
.create-new-account {
  width: 100%;
  background: #f5f5f5;
  padding: 30px 0px;
  .container {
    @media (min-width: 1200px) {
      // width: 80%;
      padding: auto 0px;
    }
    @media (max-width: 700px) {
      display: block;
    }
    display: flex;
    .login {
      width: 30%;
      background: #fff;
      border-radius: 10px;
      padding: 2% 2%;
      box-shadow: 6px 5px 10px 1px #938b8ba6;
      text-align: center;
      justify-content: center;
      @media (max-width: 700px) {
        width: 90%;
        margin: 0 auto;
        margin-bottom: 30px;
      }
      h4 {
        font-size: 18px;
        text-align: left;
       
      }
      p{
        font-size: 15px;
        font-weight: normal;
        text-align: left;
        margin-bottom: 20px;
    }
      a {
        font-size: 16px;
        background: #4285ea;
        color: #fff;
      }
    }
    .btn-block {
      display: inline-block;
      width: auto;
    }
    .btn {
      padding: 8px 50px;
    }
    .info {
      @media (max-width: 700px) {
        width: 90%;
        margin: 0 auto;
      }
      width: 68%;
      margin-left: 2%;
      background: #ffff;
      border-radius: 10px;
      padding: 20px;
      padding-top: 15px;
      -webkit-box-shadow: 6px 5px 10px 1px #938b8ba6;
      box-shadow: 6px 5px 10px 1px #938b8ba6;
      form {
        width: 100%;
        table {
          width: 100%;
          thead {
            margin-bottom: 10px;
            tr {
              padding: 5px 0px;
              th {
                padding: 10px 0px;

                h4 {
                  font-size: 18px;
                  line-height: 1.3em;
                }
                p{
                    font-size: 15px;
                    font-weight: normal;
                    text-align: left;
                }
                input {
                  text-align: center;
                  padding: 0px 15px;
                  margin-left: 10px;
                  margin-right: 5px;
                }
              }
              td {
                padding: 10px;
                border-top: 1px solid #d5c37c;
              }
            }
          }
          tbody {
            tr {
              td {
                width: 50%;
                padding: 0px 5px;
                select {
                  padding: 5px 10px;
                  margin-bottom: 15px;
                  border-radius: 5px;
                  width: 49%;
                  margin-left: 1%;
                  float: left;
                  &:last-child {
                    margin-left: 0;
                    float: right;
                  }
                  &:first-child {
                    margin-left: 0;
                    float: left;
                  }
                }
                button {
                  text-align: center;
                  padding: 10px 50px;
                  color: #fff;
                  border-radius: 5px;
                  background: #4285ea;
                  border: none;
                  margin: auto;
                  margin-bottom: 16px;
                  display: block;
                }
                input[type=checkbox], input[type=radio] {
                    margin-left: 15px;
                }
                select{
                    -webkit-appearance: none;
                    -moz-appearance: none;
                    appearance: none;
                    padding: 5px;
                    background: url('../images/icon-select-create.jpg');
                    background-repeat: no-repeat;
                    background-size: 30px;
                    background-position-x: 108%;
                    background-position-y: center;
                }
              }
            }
          }
        }
      }
    }
  }
}
