.choose-us {
  .container {
    @media (min-width: 1200px) {
      padding: auto 0px;
    }
  }
  padding: 20px 0px 40px 0px;
  background: #f5f5f5;
  h4 {
    font-size: 30px;
    padding: 30px 0px;
    @media (max-width: 768px) {
      font-size: 26px;
      .cl-blue {
        display: inherit;
        margin-top: 10px;
        margin-bottom: 10px;
      }
    }
  }
  width: 100%;
  height: auto;
  .container {
    > ul {
      > li {
        list-style-type: none;
        float: left;
        width: 30%;
        margin-right: 5%;
        border-top: 2px solid #a1a1a1;
        padding-top: 18px;
        .box {
          width: 100%;
          margin-right: 10%;
          display: flex;
          @media (max-width: 1200px) and (min-width: 768px) {
            display: grid;
          }
          .box-left {
            width: 40%;
            padding-right: 5%;
            @media (max-width: 1200px) and (min-width: 768px) {
              width: 100%;
              padding: 0% 5% 5% 5%;
              display: flex;
              justify-content: center;
            }
            img {
              padding: 0;
              float: left;
              width: 100%;
              @media (max-width: 1200px) and (min-width: 768px) {
                width: 70%;
                justify-content: center;
              }
              @media (max-width: 768px) {
                width: 80%;
              }
            }
          }
          .box-right {
            width: 60%;
            padding: 0;
            @media (max-width: 1200px) and (min-width: 768px) {
              width: 100%;
              padding-top: 10x;
            }
            a {
              font-size: 16px;
              font-weight: bold;
              @media (max-width: 1200px) and (min-width: 768px) {
                margin-top: 15px;
                display: block;
                text-align: center;
              }
            }
            p {
              margin-top: 10px;
              font-size: 15px;
            }
          }
        }
      }
      > li:last-child {
        margin-right: 0;
      }
      @media (max-width: 768px) {
        li {
          width: 100%;
          margin: 0 auto;
          padding: 10px 0px;
          float: none;
          margin-right: 0;
          .box {
            width: 100%;
            margin: 0 auto;
            // margin-right: 10%;
            display: flex;
            .box-left {
              width: 35%;
              padding: 0 15px;
            }
          }
        }
      }
    }
  }
}
