.login-bg-wrap {
  margin-top: -5px;
  background: url("../images/dang-nhap/login-background-01.png");
  background-size: 100%;
  background-position: center;
  @media only screen and (max-width: 767px) {
    background-size: unset;
  }
}

.wrap-form {
  min-height: 500px;
  @media only screen and (max-width: 767px) {
    min-height: unset;
  }
}

.wrap-login {
  width: 350px;
  margin: 50px auto;
  background: #ffffff;
  padding: 20px;
  border-radius: 10px;
  hr {
    padding: 0;
    margin: 0;
  }
  .wrap-logo {
    min-height: 50px;
    text-align: center;
    background: url(../images/dang-nhap/bk-head-login.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 5px 5px 0px 0px;

    img {
      width: 180px;
      margin-top: 11px;
    }
  }

  .wrap-login-form {
    width: 100%;
    padding: 20px;
    p {
      padding: 15px 0px;
    }
    .help-text {
      font-size: 13px;
      font-weight: bold;
      margin-bottom: 10px;
      text-align: left;
    }
    .text-center{
      text-align: center;
    }
    .wrap-code-otp {
      display: inline-block;
      width: 100%;
      margin-bottom: 20px;
      padding: 15px;
      ul {
        margin: 0;
        padding: 0;
        li {
          float: left;
          width: 25%;
          list-style-type: none;
          text-align: center;
          input {
            border: 1px solid #0093d7;
            width: 45px;
            text-align: center;
            height: 45px;
            border-radius: 3px;
            font-weight: bold;
            font-size: 20px;
            color: #606060;
          }
        }
      }
    }
    .wrap-choose-otp {
      display: inline-block;
      width: 100%;
      padding: 30px 50px;
      padding-top: 10px;
      ul {
        margin: 0;
        padding: 0;
        li {
          float: left;
          width: 50%;
          list-style-type: none;
          &:first-child {
            text-align: left;
          }
          &:last-child {
            text-align: right;
          }
          /* The container */
        }
      }
    }

    .wrap-action {
      display: flex;
      justify-content: center;

      button {
        margin: 8px;
        color: #fff;
        background-color: 4285ea;
        border: 0;
        padding: 7px 25px;
      }
    }

    .wrap-forget {
      flex-direction: column;
      button {
        display: block;
        margin: auto;
        margin-bottom: 15px;
        margin-top: 10px;
      }
      a {
        display: inline-block;
        margin: auto;
      }
    }

    .wrap-action-forgot {
      .wrap-list-forgot-action {
        margin-top: 10px;

        a {
          display: block;
          font-size: 13px;
          margin-bottom: 3px;
          text-decoration: underline;
          cursor: pointer;

          &:hover {
            text-decoration: none;
          }
        }
      }

      input[type="checkbox"] {
        width: 22px;
      }

      .wrap-remember-me {
        margin-top: 10px;
        display: flex;
        align-items: baseline;

        .remember-text {
          color: #888888;
          font-size: 13px;
        }
      }
    }
  }
}

.slider_login {
  margin-top: -5px;
  position: relative;
  .owl-theme {
    .owl-nav.disabled + .owl-dots {
      position: absolute;
      left: 0;
      right: 0;
      bottom: 20px;
    }
    .owl-item {
      .item {
        img {
          min-height: 450px;
        }
      }
    }
  }

  .wrap-login {
    width: 350px;
    height: fit-content;
    margin: auto;
    background: #ffffff;
    padding: 0px;
    border-radius: 5px;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 2;
    form{
      margin: 0;
    }
    @media (max-width: 768px) {
      width: 300px;
      height: fit-content;
      padding: 10px;
    }
  }
}

.header_top {
  .left_top {
    .dropdown {
      .dropdown-menu {
        margin-top: 15px;
      }

      img.top-icon {
        width: 25px;
        position: absolute;
        left: 25px;
        top: -19px;
      }
    }
  }
}
