.news {
   padding-bottom: 20px;
  .header-cate {
    background: url(../images/bk_head_news.jpg);
    background-size: cover;
    margin-bottom: 20px;
    .title {
      padding: 20px;
      color: #fff;
      background: url(../images/icon_news_head.png);
      background-repeat: no-repeat;
      background-position: left;
      background-size: 40px;
      padding-left: 55px;
      font-size: 20px;
    }
    .detail-title {
      padding: 20px;
      color: #fff;
      font-size: 20px;
    }
  }

  .news-content {
    .col-left {
      padding: 0px 15px;
      .item {
        border-bottom: solid 1px #d7d7d7;
        border-width: 80%;
        margin-bottom: 20px;
        padding-bottom: 20px;

        .left {
          padding-left: 0px;
          @media (max-width: 767px) {
            padding-right: 0;
          }
        }
        .right {
          padding-right: 0px;
          p.title {
            font-size: 18px;
            font-weight: bold;
            color: #535353;
            padding: 0;
            @media (max-width: 990px) {
              margin: 10px 0px;
            }
          }
          p.desc {
            padding: 10px 0px;
          }
          p.timeNews {
            padding: 0;
            padding-bottom: 10px;
          }
          a.link-news {
            font-weight: bold;
            i {
              margin-left: 6px;
            }
          }
        }
        .h_8 {
          width: 100%;
        }

        .pagination {
          margin-top: 30px;

          li > a,
          li > span {
            position: relative;
            float: left;
            padding: 6px 12px;
            margin-left: -1px;
            line-height: 1.428571429;
            text-decoration: none;
            background-color: #ffffff;
            border: 1px solid #dddddd;
          }
        }
      }
    }
    .right-menu {
      padding-left: 30px;
      @media (max-width: 990px) {
        padding: 0;
      }
      .title {
        border-bottom: solid 2px #4aace8;
        padding: 3px 0px;
        a {
          background: #4aace8;
          color: #ffffff;
          font-size: 16px;
          position: relative;
          padding: 5px 10px;
          padding-right: 30px;
        }
        a:after {
          border-top-color: #ffffff;
          top: 0;
          right: 0;
          position: absolute;
          content: "";
          display: block;
          border-top: 31px solid #ffffff;
          border-left: 16px solid #4aace8;
          top: 0;
          right: -5px;
        }
      }
      ul {
        margin-top: 15px;
        li {
          list-style: none;
          margin-bottom: 10px;
          .left {
            img {
              width: 100%;
              border-radius: 5px;
            }
          }

          .right {
            padding-left: 0;
            p {
              border-bottom: 0;
              @media (max-width: 990px) {
                padding: 15px;
                font-size: 18px;
              }
            }
          }
        }
      }
    }
  }

  .pagination {
    margin-bottom: 40px;
  }

  img.newsprint {
    width: 17px;
    display: inline-block;
  }
  .time {
    p {
      display: inline-block;
      float: left;
      line-height: 22px;
      font-size: 13px;
      padding-right: 10px;
    }
  }

  .description {
    p {
      font-weight: bold;
      color: #000;
      line-height: 20px;
      padding: 15px 0px;
    }
  }
  .content {
    line-height: 20px;
    text-align: justify;
    color: #555;
    font-size: 15px;
    img {
      width: 80%;
      display: block;
      margin: 0 auto;
    }

    p {
      margin-top: 10px;
    }
  }

  .author {
    text-align: right;
    padding: 10px 0px;
    font-weight: bold;
    margin-top: 10px;
  }
  .keyword {
    margin-top: 15px;
    margin-bottom: 20px;
    p {
      background: url(../images/icon-keyword.jpg);
      background-size: 24px;
      background-repeat: no-repeat;
      background-position: 1px 5px;
      padding-left: 32px;
      line-height: 25px;
      font-size: 15px;
      span {
        background: #e9e9eb;
        padding: 0px 5px;
        display: inline-block;
        margin-bottom: 3px;
    }
    }
  }
}
