.sale-us{
	width: 100%;
	height: auto;
	background: url('../images/bk-uu-dai.jpg');
	background-repeat: repeat-y;
	background-size: 100%;
	@media(max-width: 1200px) {
		background: #fff;
	}
	.container{
		padding: 50px 0px;
		height: auto;
		background-color: #fff;
		background-image: url('../images/sale-us-2.png');
		background-repeat: no-repeat;
		background-size: 35% 100%;
		@media(max-width: 1200px) {
			background: #fff;
			padding: 30px 0px;
		}
	}
	.row{
		.container{
			.sale-title {
				h4{
					color: white;
					font-size: 32px;
					img{
						width: 15px;
					}
				}
				
			}

			.sale-title p {
				font-size: 25px;
				color: white;
			}
			.articles{
				width: 100%;
				height: auto;
				z-index: 100;
				.articles-new{
					border-radius: 20px;
					width: 35%;
					background: #ffff;
					float: left;
					.image{
						img{
							width: 100%;
						}
					}
					.content{
						padding: 15px;
						a{
							font-size: 15px;
							color: #2f2f2f;
							font-weight: bold;
						}
						p{
							font-size: 13px; 
							color: #909090;
							margin-top: 15px;
						}
						a.links{
							background: #3b83d0;
							padding: 5px 23px;
							border-radius: 10px;
							color: #ffff;
							// float: right;
							margin-bottom: 15px;
						}
					}
				}
				.slide-articles{
					width: 65%;
					float: right;
					height: 500px;
					z-index: 100;
					// background: gray;
					.silde_product{
						.item{
							.articles-box{
								width: 50%;
								padding: 0px 10px;
								border-radius: 10px;
								position: relative;
								box-shadow: 2px;
								.content{
									position: absolute;
									padding: 15px
								}
							}
							.one{
								background: url('../images/articles-1.png');
								
								overflow: hidden;
							}
							.two{
								background: url('../images/articles-1.png');
							}
							.three{
								background: url('../images/articles-1.png');
							}
							.four{
								background: url('../images/articles-1.png');
							}
						}
					}
					
				}
			}

		}
	}
}