@charset "utf-8";
*{
	margin: 0;
	padding: 0;
}
.container{
	max-width: 1170px;
}
@import 'header.scss';
@import 'banner.scss';
@import 'choose-us.scss';
@import 'sale-us.scss';
@import 'seach-address.scss';
@import 'footer.scss';
@import 'account.scss';
@import 'login.scss';
@import 'news.scss';